.p{margin-block-start: 0em;
margin-block-end: 1em;}

.ItemList-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding-left: 5%;
    padding-right: 5%;
    
}
   

    .item-container{ 

        border: 7px;
        background-color: blueviolet;
        border-width: 3px;
        border-style: solid;
        width: 300px;
        height: 300px;

    }
        .item-picture{
         width: 300px;
         height: 200px;
         }

        .item-price{
        
        }

        
   